<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054216154672-g05e9tmjoot4gb1n1rtnkh8so017jn3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054216154672-g05e9tmjoot4gb1n1rtnkh8so017jn3c</string>
	<key>API_KEY</key>
	<string>AIzaSyCVK2ehO4bQkTT4UszqrmCXWd4a-Y_QXzk</string>
	<key>GCM_SENDER_ID</key>
	<string>1054216154672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.it.driverapp</string>
	<key>PROJECT_ID</key>
	<string>smartbox-ea15c</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbox-ea15c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054216154672:ios:3caa59ee0d06c8ad1cc7f5</string>
</dict>
</plist>